<form method="post" action="/tambahUser">
  <div class="mb-3 col-lg-6">
    <label for="nama" class="form-label">Nama</label>
    <input type="text" class="form-control col-md-6" id="nama" name="nama">
  </div>
  <div class="mb-3 col-lg-6">
    <label for="email" class="form-label">Email address</label>
    <input type="email" name="email" id="email" class="form-control col-md-6">
  </div>
  <div class="mb-3 col-lg-6">
    <label for="password" class="form-label">Password</label>
    <input type="password" class="form-control col-md-6" name="password" id="password">
  </div>
  <button type="submit" class="btn btn-primary">Submit</button>
</form>