<form method="post" action="/tambah">
    <div class="mb-3 col-md-6">
        <label for="namaBuku" class="form-label">Nama Buku</label>
        <input type="text" class="form-control" nama="namabuku" id="namaBuku" placeholder="masukkan nama Buku..">
    </div>
    <div class="mb-3 col-md-6">
        <label for="penerbit" class="form-label">Nama Penerbit</label>
        <input type="text" class="form-control" name="penerbit" id="penerbit" placeholder="masukkan nama penerbit.. ">
    </div>
    <div class="mb-3 col-md-6">
        <label for="pengarang" class="form-label">Nama Pengarang</label>
        <input type="text" class="form-control" name="pengarang" id="pengarang" placeholder="masukkan nama pengarang..">
    </div>
    <div class="mb-3 col-md-6">
        <button type="submit" class="btn btn-primary">Tambah</button>
    </div>
</form>